<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span> This is Layout 1
</div>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/custom.js"></script>
