<!-- views/partials/head.ejs -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Admin Page</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/fonts/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<link rel="stylesheet" href="/stylesheets/animate.min.css" >

<!-- Custom styling plus plugins -->
<link rel="stylesheet" href="/stylesheets/custom.css">
<link rel="stylesheet" href="/stylesheets/green.css"><!-- FOR CHECK BOX -->
<script src="/javascripts/jquery.min.js"></script>
<!-- Google Charts -->

<script>
    var userRole = '<%= role_data.role_type %>';
    console.log('user Role is:', userRole);
</script>
<script type="text/javascript" src="/javascripts/bootstrap-progressbar.min.js"></script>

<script type="text/javascript" src="/javascripts/icheck.min.js"></script><!-- FOR CHECK BOX -->
<script type="text/javascript" src="/javascripts/charts/loader.js"></script>
<script type="text/javascript" src="/javascripts/charts/onLoadCallbacks.js"></script>
<script type="text/javascript" src="/javascripts/charts/superAdminDashBoardCharts.js"></script>
<script type="text/javascript" src="/javascripts/charts/adminDashBoardCharts.js"></script>
<script type="text/javascript" src="/javascripts/charts/usersDashBoardCharts.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>



